{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ forloop.counter }}.{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.published_date }}</h6>
                <p class="card-text">{{ post.text|linebreaksbr }}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.comments.all.count }}개의 댓글</h6>
                <a class="btn btn-primary" href="{% url 'post_detail' pk=post.pk %}">Detail</a>
                {#                <a href="#" class="card-link">Another link</a>#}
            </div>
        </div>
    {% endfor %}
{% endblock %}