{% extends 'blog/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if post.published_date %}
                <div class="date">
                    {{ post.author }}님의 게시글
                    {% if user.is_authenticated %}
                        {% if user.id is post.author_id %}
                            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><i
                                    class="fas fa-pencil-alt"></i></a>
                            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><i
                                    class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            {% else %}
                <a class="btn btn-outline-primary" href="{% url 'post_publish' pk=post.pk %}">게시하기</a>
                <a class="btn btn-outline-primary icon" href="{% url 'post_edit' pk=post.pk %}"><i
                        class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-outline-primary icon" href="{% url 'post_remove' pk=post.pk %}"><i
                        class="fas fa-trash-alt"></i></a>
            {% endif %}

            <h3 class="card-title">{{ post.title }}</h3>
            <p>{{ post.text|safe|linebreaksbr }}</p>
            {% if user.is_authenticated %}
                <a href="{% url 'post_like_toggle' pk=post.pk %}">
                    {% if user in post.like_users.all %}
                        <h3 style="color: #d9534f"><i class="fas fa-heart"></i> : {{ post.like_count }}</h3>
                    {% else %}
                        <h3 style="color: #d9534f"><i class="far fa-heart"></i> : {{ post.like_count }}</h3>
                    {% endif %}
                </a>
            {% else %}
                <h3 style="color: #d9534f"><i class="far fa-heart"></i> : {{ post.like_count }}</h3>
            {% endif %}
            <h6 class="card-subtitle mb-2 text-muted">{{ post.published_date }}</h6>
        </div>
    </div>
    <hr>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="row">
            <div class="col-md-2 comment-form">
                {{ form.author }}
                {{ form.password }}
            </div>
            <div class="comment-box col-md-9">
                {{ form.text }}
            </div>
            <button type="submit" class="save btn btn-default">추가</button>
        </div>
    </form>
    {% for comment in post.comments.all %}
        <div class="comment row">
            <div class="col-md-9">{{ comment.created_date }}</div>
            <div class="col-md-3">
            <form id="pass-form" method="POST">{% csrf_token %}
                <div>
                    <div class="input-group mb-3">
                        <input type="password" name="password_confirm" class="form-control col-5 comment-password" placeholder="비밀번호"
                               aria-label="비밀번호" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button data-id="{{ comment.id }}" class="btn btn-outline-secondary btn-delete" type="button">삭제</button>
                        </div>
                    </div>
                </div>
            </form>
                </div>
            <div class="date">
                <p><strong>{{ comment.author }}</strong> : {{ comment.text }}</p>
            </div>
        </div>
    {% empty %}
        <p>댓글이 없습니다</p>
    {% endfor %}
    <script type="text/javascript">
        $('.btn-delete').click(function() {
            console.log($(this).data('id'));
            console.log($(this).parent().parent().find('.comment-password').val());
            var comment = $(this).parents()[5];
            $.ajax({
                type: 'POST',
                url: '{% url 'post_detail' pk=post.pk %}',
                data: {
                    'pk': $(this).data('id'),
                    'comment-password': $(this).parent().parent().find('.comment-password').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: 'json',
                success: function (response) {
                    console.log(response.message);
                    if(response.success === true) {
                        comment.remove();
                        alert(response.message);
                    } else {
                        alert(response.message);
                    }
                }
            });
        });
    </script>
{% endblock %}

